@import './fonts.css';

:root {
  --dark-grey: #101828;
  --dark-opacity: #10182899;
  --black-opacity: #131313b5;
  --light-opacity: #69646487;
  --grey: #475467;
  --red: #e44848;
  --red-hover: #d14545;
  --yellow: #ffc531;
  --light-blue: #f2f4f7;
  --light-grey: #f7f7f7;
  --color-border: rgba(16, 24, 40, 0.2);
  --animation: 150ms ease-in;
}

body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  color: var(--dark-grey);
  margin: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 7px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  outline: none;
}

input {
  border: none;
  outline: none;
}
